---
type: bouncer.verification
title: 003 verification
description: Verification for 003
resource: .bouncer/context/epics/context-search/blueprints/legacy-epic-merge/tasks/003/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-10-20T21:02:17.860+09:00'
bouncer:
  id: VERIFY-003
  epic_id: context-search
  blueprint_id: legacy-epic-merge
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
