---
type: bouncer.verification
title: 003 verification
description: Verification for 003
resource: .bouncer/context/epics/plan-workflow/blueprints/context-review-fix-restart/tasks/003/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-10-20T21:02:18.625+09:00'
bouncer:
  id: VERIFY-003
  epic_id: plan-workflow
  blueprint_id: context-review-fix-restart
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
