---
type: bouncer.verification
title: 002 verification
description: verification for 002
resource: .bouncer/context/epics/task-unit-commits/blueprints/task-dir-layout/tasks/002/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-08-07T03:55:58.195Z'
bouncer:
  id: VERIFY-002
  epic_id: task-unit-commits
  blueprint_id: task-dir-layout
  status: pending
---
# verification

## Command
