---
type: bouncer.verification
title: 002 verification
description: Verification for 002
resource: .bouncer/context/epics/062-document-commit-contracts/blueprints/005-explain-task-context/tasks/002/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-09-04T16:03:40.361+09:00'
bouncer:
  id: VERIFY-002
  epic_id: '062'
  blueprint_id: '005'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
