---
type: bouncer.verification
title: 004 verification
description: Verification for 004
resource: .bouncer/context/epics/033-quality-security/blueprints/001-context-review-guard/tasks/004/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-08-13T09:30:48.494+09:00'
bouncer:
  id: VERIFY-004
  epic_id: '033'
  blueprint_id: '001'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
