---
type: bouncer.verification
title: 002 verification
description: Verification for 002
resource: .bouncer/context/epics/064-scope-graph-convergence/blueprints/001-scope-separation-and-reporting/tasks/002/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-09-01T15:49:12.592+09:00'
bouncer:
  id: VERIFY-002
  epic_id: '064'
  blueprint_id: '001'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
