---
type: bouncer.verification
title: 002 verification
description: Verification for 002
resource: .bouncer/context/epics/021-task-commit-stage/blueprints/001-commit-stage/tasks/002/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-08-07T14:13:15.644+09:00'
bouncer:
  id: VERIFY-002
  epic_id: '021'
  blueprint_id: '001'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
