---
type: bouncer.verification
title: 005 verification
description: Verification for 005
resource: .bouncer/context/epics/context-search/blueprints/legacy-epic-merge/tasks/005/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-10-20T21:02:18.048+09:00'
bouncer:
  id: VERIFY-005
  epic_id: context-search
  blueprint_id: legacy-epic-merge
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
