---
type: bouncer.verification
title: 002 verification
description: Verification for 002
resource: .bouncer/context/epics/062-search-language-contract/blueprints/001-english-search-contract/tasks/002/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-08-31T16:19:11.045+09:00'
bouncer:
  id: VERIFY-002
  epic_id: '062'
  blueprint_id: '001'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
