---
type: bouncer.verification
title: 003 verification
description: Verification for 003
resource: .bouncer/context/epics/062-search-language-contract/blueprints/001-english-search-contract/tasks/003/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-08-31T16:19:11.078+09:00'
bouncer:
  id: VERIFY-003
  epic_id: '062'
  blueprint_id: '001'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
