---
type: bouncer.verification
title: 002 verification
description: Verification for 002
resource: .bouncer/context/epics/024-light-path/blueprints/001-scale-light-convention/tasks/002/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-08-11T10:44:45.614+09:00'
bouncer:
  id: VERIFY-002
  epic_id: '024'
  blueprint_id: '001'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
