---
type: bouncer.verification
title: 002 verification
description: Verification for 002
resource: .bouncer/context/epics/004-starter-kit-convergence/blueprints/002-init-rules-scaffold/tasks/001/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-08-02T23:44:42.305Z'
bouncer:
  id: VERIFY-001
  epic_id: '004'
  blueprint_id: '002'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
