---
type: bouncer.verification
title: 002 verification
description: Verification for 002
resource: .bouncer/context/epics/018-task-unit-commits/blueprints/020-completed-context-retention/tasks/002/verification.md
tags:
  - bouncer
  - verification
timestamp: '2026-09-03T09:28:55.071+09:00'
bouncer:
  id: VERIFY-002
  epic_id: '018'
  blueprint_id: '020'
  status: pending
---
# Verification

## Command
<command>

## Evidence
<result>
